include CHANGELOG.md CITATION.cff CODE_OF_CONDUCT.md CONTRIBUTING.md LICENSE MAINTAINERS.md SECURITY.md SUPPORT.md
recursive-include docs *.md
recursive-include examples *.json *.jsonl
recursive-include benchmarks *.py *.md
